<header>
    <nav class="flex justify-center gap-5 items-center bg-slate-400 px-5 py-3 h-16">
        <a routerLink="/" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="/signup" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}">Signup</a>
        <a routerLink="/login" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}">Login</a>
        <a routerLink="/profile" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}">Profile</a>
    </nav>
</header>

<div [@routeAnimation] = "getRouteAnimationData()">
    <router-outlet></router-outlet>
</div>
<footer class="flex justify-center items-center bg-slate-400 px-5 py-3 h-16">
    <p>2024&copy; - Developed by Ankur Rajbongshi</p>
</footer>