<div class="flex justify-center items-center min-h-screen">
  <p class="w-[700px]">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores dolor
    dicta est a esse ipsum sapiente autem culpa repellendus temporibus at
    aspernatur consequuntur aliquam, itaque eum inventore nisi sunt ex porro.
    Similique veritatis consequatur temporibus provident earum blanditiis eum
    aspernatur doloribus minima error, quia possimus ea ex tempora rerum
    maiores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
    facere accusantium rerum voluptatibus aliquam consectetur itaque provident
    quos ducimus maxime impedit accusamus, officia, sunt vel cum ipsa recusandae
    nulla explicabo suscipit. Doloremque rem quam quas dolores fuga rerum
    commodi sequi, consectetur, fugiat quis maiores dolore inventore, laboriosam
    quaerat minus sit.
  </p>
</div>
